{% extends 'base.html.twig' %}

{% block title %}UserReview{% endblock %}

{% block body %}
    <h1>UserReview</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_review.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user_review.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user_review.password }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ user_review.firstName }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ user_review.role }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ user_review.lastName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_review_index') }}">back to list</a>

    <a href="{{ path('user_review_edit', {'id': user_review.id}) }}">edit</a>

    {{ include('user_review/_delete_form.html.twig') }}
{% endblock %}
